<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencentcloudapi.cls.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name="com.tencentcloudapi.cls.android.producer.data.ClsDataContentProvider"
            android:authorities="${applicationId}.ClsDataContentProvider"
            android:enabled="true"
            android:exported="false"
            />
    </application>

</manifest>